header {
	background-color: #41A4E1;
	text-align: center;
	font-family: 'Roboto Slab', serif;
  height:350px;
  position:relative;
}

.container-fluid {
    background-color: #41A4E1;
  	font-family: 'Roboto Slab', serif;
    padding-bottom: 30px;
}

.section-form {
  padding-top: 50px;
  padding-bottom:50px;
}
.raffle-form {
  background-image:url('../images/bee_6.png');
  background-size: 100%; 
  background-attachment: fixed;
}

.element {
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  color: white;
}

hr {
  border-color: black !important;
} 

footer {
	background-color: #41A4E1;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}


.btn-circle {
  width: 50px;
  height: 30px;
  border-radius:8px;
  text-align: center;
  padding: 6px 0;
  font-size: 10px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn {
  height:80%;
  margin:0px auto;
}


/* Dropdown Button */
.dropbtn {
  margin:0px auto;
  background-color: #ffffff;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #41A4E1;
  outline: none !important;
}

