{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Raffle Entrance Form</title>
	<!-- GoogleFonts -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Slab&display=swap" rel="stylesheet">

	<!-- Static CSS -->
	<link rel="stylesheet" href="{% static 'raffle_form/styles/styles.css' %}">

	<!-- Bootstrap CSS -->
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<!-- Datepicker libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet">

</head>

<body>
	<div class="container-fluid raffle-form">
		
		<section class="section-form">{% block content %} {% endblock %}</section>
		
	</div>

</body>

</html>