{% load static %}
{% load sass_tags %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Raffle Entrance Form</title>
	
	<!-- GoogleFonts -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Slab&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">


	<!-- Bootstrap CSS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Static CSS and SCSS-->
	<link rel="stylesheet" href="{% static 'raffle_form/styles/styles.css' %}">
    <link href="{% sass_src 'styling.scss' %}" rel="stylesheet" type="text/css" />
	

</head>

<body>  
	<header>
		<br>
		<h1 align="center" style="font-family: 'Satisfy', cursive;font-size: 56px; color:white;"> Welcome to BeeNotify!</h1>
		<br>
		<h2 align="center">Lets bake us some raffles now, shall we?</h2>
	
		<div class="container-fluid">
		<section>{% block content %} {% endblock %}</section>
		</div>
		<br>
		<br>
		<h5> BeeNotify :: Get your premium membership on the official Discord Channel</h5>
		<br>
		<h5> Designed by: <a href="www.ronnie94official.co.in" style="color:#282828;">www.ronnie94official.co.in</a></h5>
		<h5> Copyrights © 2019 </h5>
	</header>
	
	<div class="wrap">
	<div class="wrap2">
		<div class="body"></div>
		<div class="wing1"></div>
		<div class="wing2"></div>
		<div class="stinger"></div>
		<div class="eyes">
			<div class="pupil"></div>
		</div>
	</div>
	<div class="cloud1"></div>
	<div class="cloud2"></div>
	<div class="cloud3"></div>

	<div class="debri1"></div>
	<div class="debri2"></div>
	<div class="debri3"></div>
	<div class="debri4"></div>
	<div class="debri5"></div>
	<div class="debri6"></div>
	</div>
	
</body>

</html>