{% extends 'raffle_form/base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
	<div class="dropdown">
  	<button onclick="myFunction()" class="dropbtn btn-md btn-block" align="center"> Select Your Raffle! </button>
  		<div id="myDropdown" class="dropdown-content scrollable-menu">
		<a href="http://localhost:8000/profile_tres_bien">Tres Bien</a>
		<a href="http://localhost:8000/profile_a_few_store">A Few Store</a>
		<a href="http://localhost:8000/profile_shinzo_paris">Shinzo Paris</a>
		<a href="http://localhost:8000/profile_naked_cph">Naked Cph</a>
		<a href="http://localhost:8000/profile_bstn">BSTN</a>
		<a href="http://localhost:8000/profile_antonioli">Antonioli</a>
		<a href="http://localhost:8000/profile_end_clothing">End Clothing</a>
		<a href="http://localhost:8000/profile_foot_patrol">Footpatrol</a>
		<a href="http://localhost:8000/profile_one_block_down">One Block Down</a>
		<a href="http://localhost:8000/profile_dsm_ny">Dover Street Market : New York</a>
		<a href="http://localhost:8000/profile_dsm_ldn">Dover Street Market : London</a>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

			
			
{% endblock%}