{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Raffle Entrance Form</title>
	<!-- GoogleFonts -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Slab&display=swap" rel="stylesheet">
	<!-- Static CSS -->
	<link rel="stylesheet" href="{% static 'raffle_form/styles/styles.css' %}">
	<!-- Bootstrap CSS -->
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
	<header>
		<br>
		<h1 align="center">Thank you for using our services!</h1>
		<br>
	</header>
	<div class="container-fluid">
		<section>
			<br>
			<br>
			<h3>You're details are currently being processed on the backend. You'd receive a confirmation email soon on your registered email address..</h3>
			<br>
			<br>
			<h3> We wish you good luck for the raffle!</h3>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</section>
	</div>
	<footer navbar-fixed-bottom>
		<hr>
		<h5> BeeNotify :: Get your premium membership on the official Discord Channel</h5>
		<br>
		<h5> - Designed by: <a href="www.ronnie94official.co.in" style="color:#282828;">www.ronnie94official.co.in</a> -</h5>
		<h5> Copyrights © 2019 </h5>
		</hr>
		<br>
	</footer>
</body>

</html>