{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Raffle Entrance Form</title>

	<!-- GoogleFonts -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Slab&display=swap" rel="stylesheet">

	<!-- Static CSS -->
	<link rel="stylesheet" href="{% static 'raffle_form/styles/styles.css' %}">

	<!-- Bootstrap CSS -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
	<header>
		<br>
		<h1 align="center">Lets bake us some raffles now, shall we?</h1>
		<br>
	</header>
	<div class="container-fluid">
		<section>
			<div class="stepwizard col-md-offset-3">
				<div class="stepwizard-row setup-panel">
					<div class="stepwizard-step"> <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
						<p>Step 1</p>
					</div>
					<div class="stepwizard-step"> <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
						<p>Step 2</p>
					</div>
					<div class="stepwizard-step"> <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
						<p>Step 3</p>
					</div>
				</div>
			</div>
			<form role="form" action="" method="post">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="row setup-content" id="step-1">
						<div class="col-md-12">
							<h3> Lets fill up your profile first...</h3>
							<br>
							<div class="form-group">
								<label class="control-label">Can we have your first name?</label>
								<input maxlength="100" type="text" class="form-control" placeholder="Enter First Name" />
							</div>
							<div class="form-group">
								<label class="control-label">What is your family name?</label>
								<input maxlength="100" type="text" class="form-control" placeholder="Enter Last Name" />
							</div>
							<div class="form-group">
								<label class="control-label">Which email address would you like to use for the raffle?</label>
								<input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Email" />
							</div>
							<div class="form-group">
								<label class="control-label">Where do you stay?</label>
								<input required="required" class="form-control" placeholder="Enter your address">
								</textarea>
							</div>
							<div class="form-group">
								<label class="control-label">Which city do you represent?</label>
								<input maxlength="50" type="text" class="form-control" placeholder="Enter City Name" />
							</div>
							<div class="form-group">
								<label class="control-label">What state do you belong to?</label>
								<input maxlength="50" type="text" class="form-control" placeholder="Enter State Name" />
							</div>
							<div class="form-group">
								<label class="control-label">What is your area code?</label>
								<input maxlength="10" type="text" class="form-control" placeholder="Enter Zipcode" />
							</div>
							<div class="form-group">
								<label class="control-label">What is your nationality?</label>
								<input maxlength="50" type="text" class="form-control" placeholder="Enter Country Name" />
							</div>
							<br>
							<div class="col-md-4"></div>
							<div class="col-md-4">
							<button class="btn btn-primary nextBtn btn-md btn-block" align="center" type="button">Set Up Profile!</button>
							<br>
							<br>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
					<!-- End of Step-1 -->
					<div class="row setup-content" id="step-2">
							<div class="col-md-12">
								<h3> Set your perferences for the raffe..</h3>
								<br>
								<br>
								<div class="form-group row">
										<label class="col-md-12">Select Your Raffle!</label>
										<div class="col-md-12">
											<select class="form-control" name="cc_exp_mo" size="0">
												<option value="tres-bien">Tres Bien</option>
												<option value="one-block-down">One Block Down</option>
												<option value="foot-patrol">Foot Patrol</option>
											</select>
										</div>										
								</div>
								<div class="form-group">
									<label class="control-label">We're expecting you to have a 2Captcha key!</label>
									<input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter 2Captcha API Key" />
								</div>
								<div class="form-group">
									<label class="control-label">How many threads you wish to run? We suggest you to keep the count below 20.</label>
									<input maxlength="2" type="text" required="required" class="form-control" placeholder="Enter number of entries you want to create" />
								</div>
								<br>
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<button class="btn btn-primary nextBtn btn-md btn-block" align="center" type="button">Lock my preferences!</button>
									<br>
									<br>
								</div>
								<div class="col-md-2"></div>
							</div>
					</div>
					<!-- End of Step-2 -->
					<div class="row setup-content" id="step-3">
						<div class="col-md-12">	
							<span class="anchor" id="formPayment"></span>
							<hr class="my-5">
							<!-- form card cc payment -->
							<div class="card card-outline-secondary">
								<div class="card-body">
									<h3 class="text-center"> Credit Card Payment </h3>
									<hr>
									<div class="alert alert-info p-2 pb-3"> <a class="close font-weight-normal initialism" data-dismiss="alert" href="#"></a> Please do not refresh the page, this page uses secured connection mechanism to encrypt the payment information on the network. We request you to wait a few seconds after clicking on 'Proceed'</div>
									<div class="form-group">
										<label for="cc_name">Card Holder's Name</label>
										<input type="text" class="form-control" id="cc_name" pattern="\w+ \w+.*" title="First and last name" required="required">
									</div>
									<div class="form-group">
										<label>Card Number</label>
										<input type="text" class="form-control" autocomplete="on" maxlength="20" pattern="\d{16}" title="Credit card number" required="">
									</div>
									<div class="form-group row">
										<label class="col-md-12">Card Exp. Date</label>
										<div class="col-md-4">
											<select class="form-control" name="cc_exp_mo" size="0">
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>
										<div class="col-md-4">
											<select class="form-control" name="cc_exp_yr" size="0">
												<option>2019</option>
												<option>2020</option>
												<option>2021</option>
												<option>2022</option>
												<option>2023</option>
												<option>2024</option>
												<option>2025</option>
											</select>
										</div>
										<div class="col-md-4">
											<input type="text" class="form-control" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required="" placeholder="CVC">
										</div>
									</div>
									<hr>
									<div class="form-group row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<button type="submit" class="btn btn-success btn-md btn-block">Proceed</button>
										</div>
										<div class="col-md-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End of step-3 -->
				</div>
				<div class="col-md-3"></div>
			</form>
		</section>
	</div>
	<footer>
		<hr>
		<h4> Designed by: www.ronnie94official.co.in - Copyrights © 2019</h4>
		</hr>
		<br>
		<br>
	</footer>
	<script type="text/javascript">
		$(document).ready(function () {
			var navListItems = $('div.setup-panel div a'),
				allWells = $('.setup-content'),
				allNextBtn = $('.nextBtn');
			allWells.hide();
			navListItems.click(function (e) {
				e.preventDefault();
				var $target = $($(this).attr('href')),
					$item = $(this);
				if (!$item.hasClass('disabled')) {
					navListItems.removeClass('btn-primary').addClass('btn-default');
					$item.addClass('btn-primary');
					allWells.hide();
					$target.show();
					$target.find('input:eq(0)').focus();
				}
			});
			allNextBtn.click(function () {
				var curStep = $(this).closest(".setup-content"),
					curStepBtn = curStep.attr("id"),
					nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
					curInputs = curStep.find("input[type='text'],input[type='url']"),
					isValid = true;
				$(".form-group").removeClass("has-error");
				for (var i = 0; i < curInputs.length; i++) {
					if (!curInputs[i].validity.valid) {
						isValid = false;
						$(curInputs[i]).closest(".form-group").addClass("has-error");
					}
				}
				if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
			});
			$('div.setup-panel div a.btn-primary').trigger('click');
		});
		$(function () {
			$('form.require-validation').bind('submit', function (e) {
				var $form = $(e.target).closest('form'),
					inputSelector = ['input[type=email]', 'input[type=password]', 'input[type=text]', 'input[type=file]', 'textarea'].join(', '),
					$inputs = $form.find('.required').find(inputSelector),
					$errorMessage = $form.find('div.error'),
					valid = true;
				$errorMessage.addClass('hide');
				$('.has-error').removeClass('has-error');
				$inputs.each(function (i, el) {
					var $input = $(el);
					if ($input.val() === '') {
						$input.parent().addClass('has-error');
						$errorMessage.removeClass('hide');
						e.preventDefault(); // cancel on first error
					}
				});
			});
		});
	</script>
</body>

</html>