{% extends 'raffle_form/base.html' %} {% block content %}
<form role="form" action="{% url 'thankyou_tres_bien' %}" method="post" validate>{% csrf_token %}
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="row setup-content" id="step-2">
			<div class="col-md-12">
				<h3> Set your perferences for the raffe..</h3>
				<br>
				<br>
				<div class="form-group row">
					
					<label class="col-md-12">Select Your Shoe size!</label>

					<div class="col-md-12">
						<select class="form-control" name="shoe_size" size="0" required="required">
							<option value="US_8">US 8</option>
							<option value="US_8,5">US 8.5</option>
							<option value="US_9">US 9</option>
							<option value="US_9,5">US 9.5</option>
							<option value="US_10">US 10</option>
							<option value="US_10,5">US 10.5</option>
							<option value="US_11">US 11</option>
							<option value="US_11,5">US 11.5</option>
							<option value="US_12">US 12</option>
						</select>
						<small class="text-muted"> US 8 equals UK 7 / EU 41 </small>
					</div>

				</div>
				<div class="form-group">
					<label class="control-label">We're expecting you to have a 2Captcha key!</label>
					<input name="api_key" maxlength="40" type="text" required="required" class="form-control" placeholder="Enter 2Captcha API Key" />
				</div>
				<div class="form-group">
					<label class="control-label">How many threads you wish to run? We suggest you to keep the count below 20.</label>
					<input name="threads" maxlength="2" type="text" required="required" class="form-control" placeholder="Enter number of entries you want to create" />
				</div>
				<br>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<button class="btn btn-primary nextBtn btn-md btn-block" align="center" type="submit">Lock my preferences!</button>
					<br>
					<br>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		<!-- End of Step-2 -->
	</div>
	<div class="col-md-3"></div>
</form>{% endblock %}